<h2>Register</h2>
<p>Create a new account:</p>
<mat-card>
  <form (submit)= "onRegister(registerForm)" #registerForm="ngForm">
    <mat-form-field>
      <input matInput name = "email" ngModel type="email" placeholder = "E-Mail" #emailInput= "ngModel" required email>
      <mat-error *ngIf = "emailInput.invalid" >Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name = "password" ngModel type = "password" matInput placeholder = "Password" #passwordInput= "ngModel" required>
      <mat-error *ngIf = "passwordInput.invalid" >Please enter a valid password</mat-error>
    </mat-form-field>
    <button  class="btn btn-primary" type="submit">Register</button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </form>
</mat-card>





